:root {
  --white: #f7f3f0;
  --ibm: "IBM Plex Sans", sans-serif;
  --amita: "Amita", cursive;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--amita);
  background-color: var(--white);
  color: var(--black);
  transition: background-color 0.08s ease;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  color: transparent;
}
:after,
:before {
  content: "";
  position: absolute;
}
.spacer {
  padding: 0 8rem 0;
  margin: 0 auto;
}
.overflow-hidden {
  overflow: hidden;
}
main {
  margin-top: 2rem;
}
.container {
  display: flex;
  column-gap: 2rem;
  overflow: auto;
  scroll-snap-type: x mandatory;
  margin-inline-start: 80px;
  margin-inline-end: 80px;
  scrollbar-width: thin;
  /* -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out; */
  /* -webkit-scrollbar-color: #757575 transparent;
  -moz-scrollbar-color: #757575 transparent;
  -ms-scrollbar-color: #757575 transparent; */
  scrollbar-color: #4d4d4d transparent;
  /* -webkit-scrollbar-width: thin;
  -moz-scrollbar-width: thin;
  -ms-scrollbar-width: thin; */
}
::-webkit-scrollbar {
  height: 8px;
  overflow: visible;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #4d4d4d !important;
  background-clip: padding-box !important;
  padding: 2rem !important;
  /* border-left: 40px solid transparent;
  border-top: 10px solid transparent; */
  border-radius: 20px !important;
}
.box {
  flex: 0 0 calc(33% - 1rem);
  scroll-snap-align: start;
  margin-bottom: 2rem;
}

/* NAVIGATION */

header nav {
  height: 8rem;
  font-size: 2rem;
  font-weight: 500;
}
header nav ul {
  display: flex;
  gap: 4rem;
  gap: 3.2rem;
  align-items: center;
  height: 100%;
}
header nav li {
  cursor: pointer;
}
.slider-nav {
  display: flex;
  justify-content: end;
  gap: 4rem;
  margin-bottom: 2rem;
}
.slider-nav button {
  border: 0;
  background: transparent;
  cursor: pointer;
  font-family: var(--satisfy);
  display: block;
}
.next-button {
  transform: rotate(180deg);
}
.box h1 {
  font-size: 1.7rem;
  line-height: 1.6;
  margin: 1rem 0;
}
@media (max-width: 1919.9px) {
  .container {
    column-gap: 1.8rem;
    margin-inline-start: unset;
    margin-inline-end: unset;
    scroll-padding: 0px 48px;
    padding-inline-start: 48px;
    padding-inline-end: 48px;
    scrollbar-width: thin;
    min-width: auto;
  }
  .box {
    flex: 0 0 calc(33.33% - 1.2rem);
  }
  .spacer {
    padding: 0 4.8rem 0;
  }
}
@media (max-width: 1680px) {
  .container {
    column-gap: 1.6rem;
    scroll-padding: 0px 40px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
  }
  .box {
    flex: 0 0 calc(33.33% - 1rem);
  }
  .spacer {
    padding: 0 4rem 0;
  }
}
@media (max-width: 900px) {
  .container {
    scroll-padding: 0px 42px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
  }
  .box {
    flex: 0 0 calc(60%);
  }
  .spacer {
    padding: 0 3rem 0;
  }
}
@media (max-width: 480px) {
  .container {
    column-gap: 1.2rem;
    scroll-padding: 0px 30px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
  }
  .spacer {
    padding: 0 2.4rem 0;
  }
  .box h1 {
    font-size: 1.4rem;
  }
}